@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    width: 100%;
}

@layer components {
    .modal {
        background-color: rgba(0 0 0 calc(2 / 3));
        position: fixed;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal > .dialog-box {
        display: block;
        height: fit-content;
        width: fit-content;
        background-color: white;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        border-radius: 0.5rem;
        padding: 2.5rem;
        padding-bottom: 1.5rem;
    }

    .modal > .dialog-box > .dialog-text {
        width: fit-content;

        padding-bottom: 1.5rem;
    }

    .modal > .dialog-box > .button-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: fit-content;
        width: 100%;
    }

    .reservations-content {
        height: 100vh;
        max-height: 100vh;
    }

    .content-body {
        height: 92%;
        max-height: 92%;
    }

    .content-list {
        max-height: 100%;
    }

    .bottom-bar {
        border-radius: 0 0 0.25rem 0.25rem;
        padding: 1rem;
        position: sticky;
        top: 0;
        justify-content: right;
        background-color: rgb(65 65 65);
    }

    .topbar {
        padding: 1rem;
        width: lvw;
        position: sticky;
        top: 0;
        justify-content: right;
        background-color: rgb(65 65 65);
    }

    .overview {
        max-width: 100vw;
    }

    .form-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        margin: 0.5rem;
    }

    .form-label {
        display: flex;
    }

    .form-input {
        width: 15rem;
        border: solid;
        border-width: 1px;
        border-radius: 0.5rem;
        background-color: lightgrey;
    }

    .button {
        border: solid;
        border-width: 1px;
        border-radius: 9999px;
        background-color: lightskyblue;
        padding: 0.375rem;
        width: 100px;
        height: fit-content;
        display: inline-block;
        text-align: center;
    }

    /* .filters {
    } */

    .filters > form {
        max-width: 95%;
        margin: 0 auto;
    }

    .filters > form > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;
        text-transform: capitalize;
    }

    .filters > form > .filter-buttons {
        justify-content: right;
    }

    .filters > form > .filter-buttons > * {
        margin-left: 1em;
    }

    .filters input,
    .filters select {
        width: 70%;
        border: solid;
        border-width: 1px;
        border-radius: 0.5rem;
        background-color: lightgrey;
    }

    .filters label {
        display: flex;
        margin: auto 0;
        color: whitesmoke;
    }

    .filters .button {
        display: inline-block;
        text-align: center;
        text-transform: capitalize;
        border: solid;
        border-width: 1px;
        border-radius: 9999px;
        background-color: lightskyblue;
        min-width: 100px;
        width: fit-content;
        padding: 0.375rem 1rem;
    }

    .nav-bg {
        background-color: #d7e3f8;
    }

    /* prettier-ignore */
    .menu-shadow {
        --tw-shadow: inset 0 10px 10px 0 rgb(0 0 0 / 10%);
        --tw-shadow-colored: inset 3px 4px 4px 1px rgb(0 0 0 / 60%);

        box-shadow:
            var(--tw-ring-offset-shadow, 0 0 #0000),
            var(--tw-ring-shadow, 0 0 #0000),
            var(--tw-shadow);
    }

    .text-2xs {
        font-size: 0.645rem;
        line-height: 0.85rem;
    }

    .order-grid {
        @apply grid min-h-screen gap-4 bg-gray-200 px-2;

        grid-template-rows: max-content 1fr max-content;
    }

    .top-nav {
        @apply sticky top-0;
    }

    .bottom-nav {
        @apply sticky bottom-0 max-w-full self-end;
    }
}

.light {
    --md-sys-color-primary: rgb(55 97 142);
    --md-sys-color-surface-tint: rgb(55 97 142);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(210 228 255);
    --md-sys-color-on-primary-container: rgb(0 29 55);
    --md-sys-color-secondary: rgb(83 95 112);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(215 227 248);
    --md-sys-color-on-secondary-container: rgb(16 28 43);
    --md-sys-color-tertiary: rgb(107 87 120);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(243 218 255);
    --md-sys-color-on-tertiary-container: rgb(37 20 49);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(248 249 255);
    --md-sys-color-on-background: rgb(25 28 32);
    --md-sys-color-surface: rgb(248 249 255);
    --md-sys-color-on-surface: rgb(25 28 32);
    --md-sys-color-surface-variant: rgb(223 226 235);
    --md-sys-color-on-surface-variant: rgb(67 71 78);
    --md-sys-color-outline: rgb(115 119 127);
    --md-sys-color-outline-variant: rgb(195 198 207);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(46 49 53);
    --md-sys-color-inverse-on-surface: rgb(239 240 247);
    --md-sys-color-inverse-primary: rgb(161 201 253);
    --md-sys-color-primary-fixed: rgb(210 228 255);
    --md-sys-color-on-primary-fixed: rgb(0 29 55);
    --md-sys-color-primary-fixed-dim: rgb(161 201 253);
    --md-sys-color-on-primary-fixed-variant: rgb(27 73 117);
    --md-sys-color-secondary-fixed: rgb(215 227 248);
    --md-sys-color-on-secondary-fixed: rgb(16 28 43);
    --md-sys-color-secondary-fixed-dim: rgb(187 199 219);
    --md-sys-color-on-secondary-fixed-variant: rgb(60 72 88);
    --md-sys-color-tertiary-fixed: rgb(243 218 255);
    --md-sys-color-on-tertiary-fixed: rgb(37 20 49);
    --md-sys-color-tertiary-fixed-dim: rgb(215 190 228);
    --md-sys-color-on-tertiary-fixed-variant: rgb(83 63 95);
    --md-sys-color-surface-dim: rgb(216 218 224);
    --md-sys-color-surface-bright: rgb(248 249 255);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(242 243 250);
    --md-sys-color-surface-container: rgb(236 238 244);
    --md-sys-color-surface-container-high: rgb(230 232 238);
    --md-sys-color-surface-container-highest: rgb(225 226 232);
}

.dark {
    --md-sys-color-primary: rgb(161 201 253);
    --md-sys-color-surface-tint: rgb(161 201 253);
    --md-sys-color-on-primary: rgb(0 50 89);
    --md-sys-color-primary-container: rgb(27 73 117);
    --md-sys-color-on-primary-container: rgb(210 228 255);
    --md-sys-color-secondary: rgb(187 199 219);
    --md-sys-color-on-secondary: rgb(37 49 64);
    --md-sys-color-secondary-container: rgb(60 72 88);
    --md-sys-color-on-secondary-container: rgb(215 227 248);
    --md-sys-color-tertiary: rgb(215 190 228);
    --md-sys-color-on-tertiary: rgb(59 41 71);
    --md-sys-color-tertiary-container: rgb(83 63 95);
    --md-sys-color-on-tertiary-container: rgb(243 218 255);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(17 20 24);
    --md-sys-color-on-background: rgb(225 226 232);
    --md-sys-color-surface: rgb(17 20 24);
    --md-sys-color-on-surface: rgb(225 226 232);
    --md-sys-color-surface-variant: rgb(67 71 78);
    --md-sys-color-on-surface-variant: rgb(195 198 207);
    --md-sys-color-outline: rgb(141 145 153);
    --md-sys-color-outline-variant: rgb(67 71 78);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(225 226 232);
    --md-sys-color-inverse-on-surface: rgb(46 49 53);
    --md-sys-color-inverse-primary: rgb(55 97 142);
    --md-sys-color-primary-fixed: rgb(210 228 255);
    --md-sys-color-on-primary-fixed: rgb(0 29 55);
    --md-sys-color-primary-fixed-dim: rgb(161 201 253);
    --md-sys-color-on-primary-fixed-variant: rgb(27 73 117);
    --md-sys-color-secondary-fixed: rgb(215 227 248);
    --md-sys-color-on-secondary-fixed: rgb(16 28 43);
    --md-sys-color-secondary-fixed-dim: rgb(187 199 219);
    --md-sys-color-on-secondary-fixed-variant: rgb(60 72 88);
    --md-sys-color-tertiary-fixed: rgb(243 218 255);
    --md-sys-color-on-tertiary-fixed: rgb(37 20 49);
    --md-sys-color-tertiary-fixed-dim: rgb(215 190 228);
    --md-sys-color-on-tertiary-fixed-variant: rgb(83 63 95);
    --md-sys-color-surface-dim: rgb(17 20 24);
    --md-sys-color-surface-bright: rgb(54 57 62);
    --md-sys-color-surface-container-lowest: rgb(11 14 19);
    --md-sys-color-surface-container-low: rgb(25 28 32);
    --md-sys-color-surface-container: rgb(29 32 36);
    --md-sys-color-surface-container-high: rgb(39 42 47);
    --md-sys-color-surface-container-highest: rgb(50 53 58);
}
